<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Student List</title>


    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="student.css">

</head>
<body>
    <div class=" bgimg container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="card">
                    <br><br><br><br><br><br><br>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align: center">Actions</th>
                                <th style="text-align: center">Child ID</th>
                                <th style="text-align: center">Name</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for Child in Child %}
                                <tr>
                                    <td><a class="btn btn-sm btn-success" href="/editstudents{{ Child.c_id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td><a class="btn btn-sm btn-danger confirmation" href="/deletestudent/{{ Child.c_id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    <td style="text-align: center">{{ Child.c_id }}</td>
                                    <td style="text-align: center">{{ Child.fname_c }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-md-6">
                        <a class="btn btn-primary pull-left" href="addstudent.html">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>
</body>
</html>