<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Courses{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="main">

        <h2 style="text-align: center;">{{ Class.class_name }}</h2>

        </h4>
            <div class="col s12 m6">

      <div class="col s12 m6">
        <div class="card green white-text">
          <div class="card-content valign-wrapper">
            <div class="card-text">
              <h6>Students</h6>
              <p>Manage Students
                  <br/>
                {% for Child in students %}
                {{ Child.c_id }}
                <br/>
                {% endfor %}
              </p>
            </div>
            <div class="card-icon">
              <i class="material-icons medium valign">note</i>
            </div>
          </div>
          <div class="card-action">
            <a href="{{ url_for('students', class_name=Class.class_name)}}">View Students</a>
          </div>
        </div>
      </div>

        </div>
    </div>
</div>

    </div>
</div>

<script src="{{ url_for('.static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('.static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('.static', filename='js/materialize.min.js')}}"></script>
  <script>
      function hideshow() {
    var x = document.getElementById("hidemenu");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }
  </script>
<script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
</script>
{% endblock %}
</body>
</html>