<!DOCTYPE html>

<html>
<head>
  
<link href="main.css" rel="stylesheet">
</head>
<body>
<form action="action_page.php">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>


  <h3>THIS IS A DASHBOARD</h3>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
  <div id="erroralert" class="alert alert-danger" role="alert" style="display: none;"></div>
<source src="app.js">
</body>
</html>